body {
  font-family: Arial, sans-serif;

}

.container {
  margin: 2em auto;
  /* border: 2px solid black; */
  padding: 1em;

}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 500px;
  margin: 2em auto;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input {
  border-radius: .5em;
  outline: none;
  border: 1px solid black
}

label {
  flex: 1;
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  flex: 2;
  padding: 5px;
}

input[type="file"] {
  flex: 2;
}

img {
  max-width: 200px;
  /* max-height: 100px; */
  margin-right: 10px;
  border-radius: .4em;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}